creds.json
.vscode
*.csv
*.h5

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
books_read.png
api.json
test_data.png
logs/fit/20191215-181333/train/events.out.tfevents.1576451613.CONESTOGA.2364.858.v2
logs/fit/20191215-181333/train/events.out.tfevents.1576451616.CONESTOGA.profile-empty
logs/fit/20191215-181333/train/plugins/profile/2019-12-15_18-13-36/local.trace
logs/fit/20191215-181333/validation/events.out.tfevents.1576451616.CONESTOGA.2364.4294.v2
logs/fit/20191215-181548/train/events.out.tfevents.1576451748.CONESTOGA.4528.858.v2
logs/fit/20191215-181548/train/events.out.tfevents.1576451751.CONESTOGA.profile-empty
logs/fit/20191215-181548/train/plugins/profile/2019-12-15_18-15-51/local.trace
logs/fit/20191215-181548/validation/events.out.tfevents.1576451752.CONESTOGA.4528.4294.v2
logs/fit/20191215-182239/train/events.out.tfevents.1576452159.CONESTOGA.3896.858.v2
logs/fit/20191215-182239/train/events.out.tfevents.1576452162.CONESTOGA.profile-empty
logs/fit/20191215-182239/train/plugins/profile/2019-12-15_18-22-42/local.trace
logs/fit/20191215-182239/validation/events.out.tfevents.1576452162.CONESTOGA.3896.4288.v2
logs/fit/20191215-183442/train/events.out.tfevents.1576452882.CONESTOGA.4944.858.v2
logs/fit/20191215-183442/train/events.out.tfevents.1576452884.CONESTOGA.profile-empty
logs/fit/20191215-183442/train/plugins/profile/2019-12-15_18-34-44/local.trace
logs/fit/20191215-183442/validation/events.out.tfevents.1576452885.CONESTOGA.4944.4285.v2
logs/fit/20191215-184020/train/events.out.tfevents.1576453220.CONESTOGA.16720.826.v2
logs/fit/20191215-184020/train/events.out.tfevents.1576453223.CONESTOGA.profile-empty
logs/fit/20191215-184020/train/plugins/profile/2019-12-15_18-40-23/local.trace
logs/fit/20191215-184020/validation/events.out.tfevents.1576453223.CONESTOGA.16720.4170.v2
logs/fit/20191215-184910/train/events.out.tfevents.1576453750.CONESTOGA.7664.1439.v2
logs/fit/20191215-184910/train/events.out.tfevents.1576453752.CONESTOGA.profile-empty
logs/fit/20191215-184910/train/plugins/profile/2019-12-15_18-49-12/local.trace
logs/fit/20191215-184910/validation/events.out.tfevents.1576453753.CONESTOGA.7664.4631.v2
